* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App-wrapper {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
    "header header"
    "nav main";
  grid-gap: 10px;
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

img {
  width: 100%;
}
