.dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.active {
  color: orange;
}

.avatarWrapper {
  width: 40px;
}

.avatar {
  border-radius: 50%;
}
